.navbar {
    height: 50px;
    background-color: rgba(66, 135, 204, 0.5);  
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    .logo {
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }
    .links {
        display: flex;
        gap: 25px;
        .login-button {
            font-size: 18px;
            cursor: pointer;
        }
    }
}