.navbar {
    height: 50px;
    background-color: rgb(8, 8, 74);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    .logo {
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }
    .login-button {
        font-size: 18px;
        cursor: pointer;
    }
}